//
// scss files
//

@import "abstracts/variables";
@import "abstracts/mixins";

// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: purple;
$body-bg: #f5f5f5;
$border-radius: 0.4rem;
$primary: #615b9b;
$secondary: #766cdc;
$link-color: $primary;
$link-hover-color: $secondary;
$navbar-light-color: $primary;
$navbar-light-hover-color: $white;
$btn-font-weight: 700;
$navbar-nav-link-padding-x: 1.3rem;
$btn-border-width: 2px;
$container-max-width: 1440px;
// $input-font-weight: 600;
// $input-font-size-lg: 1rem;
$custom-select-color: #493481;
$input-placeholder-color: #493481;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px,
);
// $navbar-padding-x: 0;
//
// Bring in Bootstrap
//
// Option 1
//
// Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";
// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.
@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

//
// Font Awesome
//
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

// import one or more styles
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

//
// Custom styles
//
body {
  height: 3000px;
  padding-top: $navbar-height;
  color: $light-gray;
}

@media screen and (max-width: 990px) {
  body {
    // padding: 3rem;
    padding-top: $navbar-height-mobile;
  }
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

//
//  typography
//
@import "base/typography";

//
//  layouts
//
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/search";
@import "layouts/industry";
@import "layouts/roles";
@import "abstracts/mediaquery";
