body {
  padding-top: 9.5rem;
  color: #4f5b60;
}
@media screen and (max-width: 990px) {
  body {
    padding-top: 6.3rem;
  }
}
.bi {
  fill: currentColor;
}

/* header section */
.header__nav {
  background-color: #fff;
  height: 6.3rem;
}

.header__logo {
  width: 190px;
}

.header__search {
  padding: 0.6rem;
  font-size: 1.3rem;
  color: #615b9b;
  cursor: pointer;
}

.header__toggler {
  color: #615b9b;
  border: none;
  z-index: 100000;
}

.header__nav-items .header__nav-links .header__nav-link {
  padding: 0.25rem 1.3rem;
  font-size: 0.8rem;
}

.header__nav-secondary {
  position: absolute;
  left: 0;
  top: 6.3rem;
  width: 100%;
  background-color: #1c1740;
}

.header__nav-secondary-link {
  font-size: 1rem;
}

.header__nav-secondary-link:hover {
  background-color: #6baac1;
}

.header__nav-secondary-items
  .header__nav-secondary-links:first-child
  .header__nav-secondary-link:hover {
  background-color: #73ba9d;
}

.header__nav-secondary-items
  .header__nav-secondary-links:last-child
  .header__nav-secondary-link:hover {
  background-color: #6b83c1;
}

.header__nav-secondary-items
  .header__nav-secondary-links
  .header__nav-secondary-link {
  color: #fafafa;
  padding: 1rem 7rem;
  font-weight: 700;
}

.navbar-close-icon {
  color: #fff;
  font-size: 1.9rem;
}

/* search section */
.search {
  padding: 4.7rem 0;
  background: url("../img/search/search_bg.png") no-repeat left top;
  background-size: cover;
}
.search__heading {
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

.search__input {
  border: 0;
  font-size: 0.9rem;
  font-weight: 600;
  height: 3rem;
  padding-left: 2rem;
}

.search__btn {
  font-size: 1rem;
  color: #fff;
  height: 3rem;
}

/* industry section */
.industry__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5.6rem 4rem 3.5rem;
  color: #e8e8e8;
  background-size: 200px;
}

.industry__item-heading {
  margin-bottom: 1.3rem;
  text-transform: uppercase;
  color: #fff;
}

.industry__item-med {
  background: url("../../assets/img/industry/medical_watermark.png") #73ba9d
    no-repeat;
  background-position: right -30px bottom 25px;
  background-size: 200px;
}

.industry__item-eng {
  background: url("../../assets/img/industry/engineering_watermark.png") #6baac1
    no-repeat;
  background-position: right -73px bottom 25px;
  background-size: 200px;
}

.industry__item-con {
  background: url("../../assets/img/industry/consulting_watermark.png") #6b83c1
    no-repeat;
  background-position: right -13px bottom 25px;
  background-size: 200px;
}

.industry__item-text {
  margin-bottom: 3.1rem;
  color: #ededed;
}

.industry__item-link {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
  -ms-flex-item-align: self-end;
  align-self: self-end;
  border: 1px solid #fff;
  font-size: 0.9rem;
  color: #fff;
  text-transform: uppercase;
}

.industry__item-link:hover {
  background-color: #fff;
  color: #615b9b;
  border: none;
}

/* roles section */
.roles {
  padding: 4rem 0;
  background: url("../../assets/img/roles/roles_watermark.png") #f5f4fc
    no-repeat;
  background-position: left top;
  background-size: 424px;
}

.roles__carousel-indicators li {
  width: 13px;
  height: 13px;
  border: 1px solid #766cdc;
  border-radius: 100%;
}

.roles__carousel-indicators li:active,
.roles__carousel-indicators .active {
  background-color: #766cdc;
}

.roles__heading {
  text-transform: uppercase;
}

.roles__card {
  padding: 2rem 1.3rem;
  min-height: 463px;
  border-radius: 1rem;
  border: none;
}

.roles__card-heading {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #1b1740;
}

.roles__card-body {
  padding: 0;
}
.roles__card-title {
  color: #615b9b;
}

.roles__card-info {
  font-weight: 600;
  color: #495057;
}

.roles__card-links {
  margin-right: 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #615b9b;
  text-transform: uppercase;
  text-decoration: underline;
}

.roles__card-links:hover {
  color: #766cdc;
  cursor: pointer;
}

.roles__card-footer {
  padding: 0.8rem 0;
}

/* about section */
.about {
  background: url(../../assets/img/about/about_landscape.png) #f5f4fc no-repeat;
  background-size: cover;
  background-position: center center;
}

.about__body {
  background: #615b9b;
  padding: 3rem 3rem 5rem;
  color: #fff;
  margin-top: 6.3rem;
}

.about__heading {
  margin-bottom: 1rem;
  font-size: 2.7rem;
}

.about__text {
  color: #ededed;
}

.about__btn {
  border: 1px solid #fff;
  font-size: 0.9rem;
  color: #fff;
  text-transform: uppercase;
}

.about__btn:hover {
  background-color: #fff;
  color: #615b9b;
  border: none;
}

#about__body a.collapsed::after {
  content: "More";
}

#about__body a:not(.collapsed)::after {
  content: "Less";
}

/* refer section */
.refer {
  padding: 7.5rem 0 6rem;
}

.refer__heading {
  color: #1b1740;
}

/* footer section */
.footer {
  padding: 3.1rem 0;
  background-color: #1c1740;
  font-size: 1rem;
  color: #fff;
}

.footer__logo {
  width: 335px;
}

.footer__heading {
  font-weight: bold;
  font-size: 1rem;
  color: #615b9b;
}

.footer__logo-secondary {
  width: 27px;
  vertical-align: bottom;
}

.footer__social-icons {
  padding-left: 0;
  font-size: 1.3rem;
}
.footer__social-icons a {
  color: #fff;
}

.footer__text {
  font-size: 1rem;
  margin-bottom: 0;
  color: #ededed;
}

.footer__copyright {
  margin-bottom: 0;
  font-size: 1rem;
  color: #ededed;
}

/* quick search section */
.quick-search__form {
  width: 100%;
  max-width: 280px;
  position: fixed;
  right: 29px;
  top: 80px;
  padding: 30px 15px;
  background: #615b9b;
  border-radius: 0.4rem;
  z-index: 100000;
}

.quick-search__btn {
  border: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
  height: 48px;
}

/* media queries section */
@media (max-width: 541px) {
  .roles__card {
    min-height: 100%;
  }
}

@media (max-width: 990px) {
  .header__nav {
    padding: 0.5rem 0.45rem;
  }

  .header__navbar-collapse {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #1b1740;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0;
  }

  .header__nav-items {
    width: 100%;
  }

  .header__nav-secondary {
    position: static;
  }

  .header__nav-secondary-links {
    margin: 0.125rem -2rem 0;
    padding: 0 2rem;
  }

  .header__nav-secondary-dropdown {
    position: relative;
  }

  .header__nav-secondary-dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .header__nav-link {
    border: none;
    text-align: left;
  }

  .header__dropdown-menu.show {
    background: #28235d;
    padding: 0;
    margin: 0.125rem -1.5rem 0;
    border-radius: 0;
    border: 0;
  }

  .header__dropdown-item {
    padding: 1rem 3.5rem;
    color: #fafafa;
  }

  .header__dropdown-item:hover,
  .header__dropdown-item:focus {
    background: #6baac1;
  }

  .header .header__nav-items .header__nav-links .header__nav-link,
  .header
    .header__nav-secondary-items
    .header__nav-secondary-links
    .header__nav-secondary-link {
    color: #fafafa;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 0;
  }

  .search {
    padding: 4rem 0;
    background: url("../img/search/search_mobile_bg.png") no-repeat left top;
    background-size: cover;
  }
  .search__heading {
    font-size: 1.9rem;
  }

  .industry__item {
    padding: 4rem 0 2.5rem;
  }

  .roles {
    background: #f5f4fc;
    padding: 4rem 0 0.65rem;
  }

  .about {
    background: none;
  }

  .about__img {
    background: url(../../assets/img/about/about_portrait.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 480px;
  }

  .about__body {
    margin-top: 0;
    padding: 2.7rem 1rem;
  }

  .refer {
    padding: 3rem 0;
  }

  .refer__btn {
    text-transform: uppercase;
  }

  .footer {
    padding: 2.5rem 1rem;
  }

  .footer__heading {
    font-size: 1.7rem;
  }
  .footer__text {
    font-size: 1.5rem;
  }

  .footer__copyright {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  .quick-search__form {
    max-width: 100%;
    right: 0;
    top: 6.3rem;
    border-radius: 0;
  }
}

@media (min-width: 991px) and (max-width: 1158px) {
  .header__nav-secondary-items
    .header__nav-secondary-links
    .header__nav-secondary-link {
    padding: 1rem 5rem;
  }

  .footer__logo {
    width: 255px;
  }

  .footer__heading,
  .footer__text {
    font-size: 1rem;
  }
}

/* fonts */
@font-face {
  font-family: "proxima Nova";
  src: url("../../assets/fonts/Proxima-Nova-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "proxima Nova";
  src: url("../../assets/fonts/proxima-nova-light.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "proxima Nova";
  src: url("../../assets/fonts/Proxima-Nova-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

p {
  font-family: "proxima Nova", sans-serif;
  font-weight: 400;
  color: #4f5b60;
  font-size: 1.375rem;
}

@media (max-width: 1200px) {
  p {
    font-size: calc(1.2625rem + 0.15vw);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima Nova", sans-serif;
}

.c-h1-size {
  font-size: 4.125rem;
}

@media (max-width: 1200px) {
  .c-h1-size {
    font-size: calc(1.5375rem + 3.45vw);
  }
}

.c-h2-size {
  font-size: 3.375rem;
}

@media (max-width: 1200px) {
  .c-h2-size {
    font-size: calc(1.4625rem + 2.55vw);
  }
}

.c-h3-size {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  .c-h3-size {
    font-size: calc(1.375rem + 1.5vw);
  }
}

.c-h4-size {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .c-h4-size {
    font-size: calc(1.325rem + 0.9vw);
  }
}

.c-h5-size {
  font-size: 1.625rem;
}
@media (max-width: 1200px) {
  .c-h5-size {
    font-size: calc(1.2875rem + 0.45vw);
  }
}

.c-h6-size {
  font-size: 1.25rem;
}

.weight-100 {
  font-weight: 100;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}
/*# sourceMappingURL=starter.css.map */
