// regular font
@font-face {
  @include local-font(
    "proxima Nova",
    "../../assets/fonts/Proxima-Nova-Regular.ttf",
    400
  );
}

// light font
@font-face {
  @include local-font(
    "proxima Nova",
    "../../assets/fonts/proxima-nova-light.ttf",
    100
  );
}

// bold font
@font-face {
  @include local-font(
    "proxima Nova",
    "../../assets/fonts/Proxima-Nova-Bold.otf",
    700
  );
}

body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 22px;
}

p {
  font-family: $main-font;
  font-weight: 400;
  color: #4f5b60;
  @include font-size(22px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
}

// font-sizes
.c-h1-size {
  @include font-size(66px);
}

.c-h2-size {
  @include font-size(54px);
}

.c-h3-size {
  @include font-size(40px);
}

.c-h4-size {
  @include font-size(32px);
}

.c-h5-size {
  @include font-size(26px);
}

.c-h6-size {
  @include font-size(20px);
}

// font-weight
.weight-100 {
  font-weight: 100;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}
