.footer {
  padding: 3.1rem 0;
  background-color: $main-color;
  font-size: 1rem;
  color: #fff;

  &__logo {
    width: 335px;
  }

  &__heading {
    font-weight: bold;
    font-size: 0.9rem;
    color: #615b9b;
  }

  &__logo-secondary {
    width: 27px;
    vertical-align: bottom;
  }

  &__social-icons {
    padding-left: 0;
    font-size: 1.3rem;

    a {
      color: $white;
    }
  }

  &__text {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  &__copyright {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}
