.header {
  &__nav-items &__nav-links &__nav-link {
    padding: 3px 20px;
    font-size: 0.8rem;
  }

  &__nav-secondary {
    position: absolute;
    left: 0;
    top: $navbar-height-mobile;
    width: 100%;
    background-color: $main-color;
  }

  &__nav-secondary-link {
    font-size: 1rem;
  }

  &__nav-secondary-link:hover {
    background-color: #6baac1;
  }

  &__nav-secondary-items
    &__nav-secondary-links:first-child
    &__nav-secondary-link:hover {
    background-color: #73ba9d;
  }
  &__nav-secondary-items
    &__nav-secondary-links:last-child
    &__nav-secondary-link:hover {
    background-color: #6b83c1;
  }
}

// to override default nav-link color for large & x-large screens
.header__nav-secondary-items
  .header__nav-secondary-links
  .header__nav-secondary-link {
  color: #fafafa;
  padding: 1rem 7rem;
  font-weight: 700;
}

// toggler
.navbar-close-icon {
  color: $white;
  font-size: 1.9rem;
}
