.roles {
  padding: 4rem 0;
  background: url("../../assets/img/roles/roles_watermark.png") #f5f4fc
    no-repeat;
  background-position: left top;
  background-size: 424px;

  &__carousel-indicators {
    li {
      width: 13px;
      height: 13px;
      border: 1px solid $secondary;
      border-radius: 100%;
    }

    li:active,
    .active {
      background-color: $secondary;
    }
  }

  &__heading {
    text-transform: uppercase;
  }

  &__card {
    padding: 2rem 1.3rem;
    min-height: 463px;
    border-radius: 1rem;
    border: none;

    &-heading {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #1b1740;
    }

    &-body {
      padding: 0;
    }

    &-title {
      color: $primary;
    }

    &-info {
      font-weight: 600;
      color: $gray-700;
    }

    &-links {
      margin-right: 1.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      color: #615b9b;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        color: $secondary;
        cursor: pointer;
      }
    }

    &-footer {
      padding: 0.8rem 0;
    }
  }
}
