@media (max-width: 990px) {
  // header, navbar
  .header {
    &__nav {
      padding: 8px 7px;
    }

    &__navbar-collapse {
      display: flex;
      flex-wrap: wrap;
      background-color: #1b1740;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 4rem 0;
    }

    &__nav-items {
      width: 100%;
    }

    &__nav-secondary {
      position: static;

      // i {
      //   padding: 16px 0;
      //   color: #fff;
      // }
    }

    &__nav-secondary-links {
      margin: 0.125rem -2rem 0;
      padding: 0 2rem;
    }

    &__nav-secondary-dropdown {
      position: relative;
    }

    &__nav-secondary-dropdown-arrow {
      position: absolute;
      right: 10px;
      top: 20px;
    }

    &__nav-link {
      border: none;
      text-align: left;
    }

    &__dropdown-menu.show {
      background: #28235d;
      padding: 0;
      margin: 0.125rem -1.5rem 0;
      border-radius: 0;
      border: 0;
    }

    &__dropdown-item {
      padding: 1rem 3.5rem;
      color: #fafafa;
    }

    &__dropdown-item:hover,
    &__dropdown-item:focus {
      background: #6baac1;
    }

    // to override default nav-link color when mobile menu is open
    .header__nav-items .header__nav-links .header__nav-link,
    .header__nav-secondary-items
      .header__nav-secondary-links
      .header__nav-secondary-link {
      color: #fafafa;
      padding: 1rem 2rem;
      font-size: 1.1rem;
      font-weight: 700;
      border-radius: 0;
    }
  }

  // search section
  .search {
    padding: 65px 0;
    background: url("../img/search/search_mobile_bg.png") no-repeat left top;
    background-size: cover;

    &__heading {
      font-size: 1.9rem;
    }
  }

  // industry section
  .industry__item {
    padding: 65px 50px 40px;
  }

  // last roles
  .roles {
    background: #f5f4fc;
  }

  // about
  .about {
    background: none;

    &__img {
      background: url(../../assets/img/about/about_portrait.png) no-repeat;
      background-size: cover;
      background-position: center center;
      height: 480px;
    }

    &__body {
      margin-top: 0;
      padding: 45px 15px;
    }
  }

  // refer
  .refer {
    padding: 50px 0;

    &__btn {
      text-transform: uppercase;
    }
  }

  // footer
  .footer {
    padding: 40px 15px;

    &__heading {
      font-size: 27px;
    }

    &__text {
      font-size: 25px;
    }

    &__copyright {
      margin-bottom: 16px;
      font-size: 19px;
    }
  }

  // quick search
  .quick-search {
    &__form {
      max-width: 100%;
      right: 0;
      top: 100px;
      border-radius: 0;
    }
  }
}

@media (min-width: 991px) and (max-width: 1158px) {
  .header__nav-secondary-items
    .header__nav-secondary-links
    .header__nav-secondary-link {
    padding: 1rem 5rem;
  }

  .footer__logo {
    width: 255px;
  }

  .footer__heading,
  .footer__text {
    font-size: 16px;
  }
}
