//
//typography
//
$font-family: "proxima Nova";
$main-font: $font-family, sans-serif;

//
// colors
//
$black: #2e363f;
$white: #fff;

//
// layout
//
$navbar-height: 156px;
$navbar-height-mobile: 100px;
